doctype html
html(lang="en-us")
    head
        title=site.title
    body
        #wrapper
            test(xid="#{id}")
        script(src='/js/vue.js')
        script(src='/js/vue-qrcode.js')
        script(src='/js/qrcode.js')
        